* {
    /* background-color: whitesmoke; */
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background-color: white;
}

.main-container {
    display: flex;
    height: 100vh;
}

.phones {
    background-color: #fff;
    flex-basis: 454px;
    /* flex-direction: column; */
    flex-shrink: 0;
    align-items: stretch;
    align-self: center;
    height: 618px;
    width: fit-content;
    margin: -20px -15px 0 325px;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
}

.container {
    margin-top: 65px;
    background-color: #ffffff;
}

.logo {
    width: 200px;
    background-color: white;
    width: 35;
    margin: 10px;
    padding: 0px;
    padding-bottom: 0px;
}

.right-column {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid lightgrey;
    padding: 30px;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-right: 10px;
}

.group {
    margin-bottom: 8px;

}

.btn {
    width: 250px;
    height: 29px;
    background-color: rgb(28, 164, 228);
    border-radius: 5px;
    border: none;
    opacity: 35%;
    color: white;
    margin-bottom: 20px;

}

.or {
    font-size: 14px;
    color: #999;
    background-color: white;
    font-weight: 600;
    position: relative;
    margin-bottom: 20px;
}

.or::before {
    content: '';
    color: grey;
    display: block;
    height: 2px;
    width: 15px;
    position: relative;
    top: 11px;
}

.or::after {
    content: '';
    color: #999;
    display: block;
    height: 2px;
    width: 15px;
    position: relative;
    top: 11px;
}

.fb {
    width: 20px;
}

.login {
    color: rgb(35, 35, 150);
}

/* .img {
    background-color: white;
} */

/* .tex {
    background-color: lightgrey;
} */

.forgot {
    color: rgb(8, 8, 68);
}

a {
    text-decoration: none;
}

.lower-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#account-setup {
    /* display: flex; */
    border: 1px solid lightgrey;
    font-size: 15px;
    font-family: 'Segoe UI';
    margin-top: 10px;
    margin-left: 10px;
    padding: 7px;
    text-align: center;
    width: 250px;
    padding: 30px;
}

#app-line {
    font-size: 15px;
    font-family: 'Segoe UI';
    /* margin-left: 52%;
    margin-right: 25%; */
    margin-top: 15px;
    text-align: center;
    width: 250px;
}

.pictures {
    display: flex;
    margin-top: 5px;
}

#app-pic-2 {
    margin-left: 8px;
}

ul {
    display: flex;
    list-style-type: none;
    color: #00376B;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    font-size: 12px;
}

.copyright {
    color: #8e8e8e;
    padding-left: 3px;
}

.d1 {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.d2 {
    width: 10px;
    height: 13px;
    padding-left: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}